<div class="relative">
    <!-- Loader -->
    <div *ngIf="isLoading" class="absolute inset-0 bg-white bg-opacity-70 z-50 flex items-center justify-center">
      <p-progressSpinner ariaLabel="loading" />
    </div>
<app-top-nav-bar></app-top-nav-bar>
<div class="flex flex-col h-screen">
    <div class="h-12 w-full bg-[#5ca2a6] flex items-center p-5 justify-between" [formGroup]="AdminDashboardInputData">
        <div class="rounded w-auto flex flex-row justify-between items-center gap-5">
            <select name="" id="" class="w-20 lg:w-32 h-8 rounded flex items-center justify-center" formControlName="BrandID" (change)="onSelctionChangeBrand()">
                <option value="" disabled selected hidden>Brand</option>
                @if (BrandData.length == 0) {
                    <option value="">No Brands Available</option>
                }
                @else {
                    @for (brand of BrandData; track $index) {
                        <option [value]="brand.bigid">{{brand.vcbrand}}</option>
                    }
                }
                
                    
            </select>
            <select name="" id="" class="w-20 lg:w-32 h-8 rounded flex items-center justify-center" formControlName="DealerID" (change)="onSelectionChangeDealer()">
                <option value="" disabled selected hidden>Dealer</option>
                @if (DealerData.length == 0) {
                    <option value="">No Dealer Available</option>
                }
                @else {
                    @for (Dealer of DealerData; track $index) {
                        <option [value]="Dealer.bigid">{{Dealer.vcName}}</option>
                    }

                }
                
            </select>
            <select name="" id="" class="w-24 lg:w-32 h-8 rounded" formControlName="LocationID" (change)="onSelectionChangeLocation()">
                <option value="" disabled selected hidden>Select Location</option>

                @if (LocationData == 0) {
                    <option value="">No Location Available</option>

                }
                @else {
                    @for (location of LocationData; track $index) {
                        <option [value]="location.LocationID">{{location.Location}}</option>
                    }
                }
                
            </select>
            <select name="" id="" class="w-24 lg:w-32 h-8 rounded flex items-center justify-center" formControlName="TypeOfOrder">
                <option value="" disabled selected hidden>Type Of Order</option>
                <option value="urgent">Urgent</option>
                <option value="regular">Regular</option>
            </select>
            <select name="" id="" class="w-20 lg:w-32 h-8 rounded flex items-center justify-center" formControlName="ApproveBy" (change)="onSelectionChangeApprovedBy()" >
                <option value="" disabled selected hidden>Approved By</option>

                @if (ApproveByData == 0) {
                    <option value="">No Data</option>
                }
                @else {
                    @for (approved of ApproveByData; track $index) {
                        <option [value]="approved">{{approved}}</option>
                    }
                }
               
            </select>
            <select name="" id="" class="w-24 lg:w-32 h-8 rounded flex items-center justify-center"formControlName="Timeband">
                <option value="" disabled selected hidden>Time Band</option>
                <option value="today">Today</option>
                <option value="yesterday">Yesterday</option>
                <option value="lastweek">Last Week</option>
                <option value="last30Days">Last 30 Days</option>
            </select>
        </div>
        <div class="flex w-auto items-center justify-between gap-4 ">

            <i class="pi pi-bell text-3xl text-white hover:text-black"></i>
            <i class="pi pi-user text-3xl text-white hover:text-black"></i>
            
        </div>
    
    </div>
    
    <div class="w-full h-full relative flex flex-row">
        <app-side-menue class="z-10"></app-side-menue>
      
        <!-- Background Image -->
        <img 
          src='Background_image.png' 
          alt="Background" 
          class="absolute inset-0 w-full h-full object-cover z-0"
        />
      
        <!-- Cards Container -->
        <div class="h-full w-full flex items-center justify-center gap-4 z-10">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <!-- Cards -->
            <app-order-request-status-card [values]="sumOfNotInMaster" class="bg-[#ffe786] rounded-lg" text="'Parts not in master' Pending"></app-order-request-status-card>
            <app-order-request-status-card [values]="sumOfPendingRequest" class="bg-[#efeff8] rounded-lg" text="No. of Request Pending"></app-order-request-status-card>
            <app-order-request-status-card [values]="sumofApprovedRequest" class="bg-[#63f4ad] rounded-lg" text="No. of Requests Approved"></app-order-request-status-card>
            <app-order-request-status-card [values]="sumofRejectedRequest" class="bg-[#ff9d9d] rounded-lg" text="No. of Request Rejected"></app-order-request-status-card>
          </div>
        </div>
      </div>
      
</div>