<div class="relative">
   Loader 
  <div *ngIf="isLoading" class="absolute inset-0 bg-white bg-opacity-70 z-50 flex items-center justify-center">
    <p-progressSpinner ariaLabel="loading" />
  </div>
<app-main-navbar></app-main-navbar>
<app-top-nav-bar></app-top-nav-bar>
<div class="flex flex-col h-screen">
    <div class="h-12 w-full bg-[#5ca2a6] flex items-center p-5 justify-between" [formGroup]="spmDashBoardInputData">
        <div class="rounded w-64 flex flex-row justify-between items-center" >
            <select name="" id="" class="w-32 h-8 rounded" formControlName="locationID" (change)="onSelectionChange()">
                <option value="" disabled hidden>Select Location</option>
                @for (item of locationData; track $index) {
                  <option [value]="item.LocationID">{{item.Location}}</option>
                }
            </select>
            <select name="" id="" class="w-28 h-8 rounded flex items-center justify-center" formControlName="Timeband" (change)="onSelectionChange()">
                <option value="" disabled selected hidden>Time Band</option>
                <option value="today">Today</option>
                <option value="yesterday">Yesterday</option>
                <option value="last week">Last Week</option>
                <option value="last30Days">Last 30 Days</option>
            </select>
            
        </div>
        <div class="flex items-center justify-between gap-4 ">
            <div class="flex ">
                <p class="text-white">Stock Updated On:</p>
                <div class="bg-white h-6 w-28 rounded-sm ml-3 px-3">{{this.spmDashBoardInputData.value.StockDate}}</div>
            </div>
            
  
        </div>
    
    </div>
    
    <div class="w-full h-full relative flex flex-row">
        <app-side-menue class="z-10"></app-side-menue>
      
        <!-- Background Image -->
        <img 
          src='Background_image.png' 
          alt="Background" 
          class="absolute inset-0 w-full h-full object-cover z-0"
        />
      
        <!-- Cards Container -->
        <div class="h-full w-full flex items-center justify-center gap-4 z-10">
          <div class="grid lg:grid-cols-2 gap-8 grid-cols-1">
            <!-- Cards -->
            <app-order-request-status-card [values]="sumOfNotInMaster" class="bg-[#ffe786] " text="'Parts not in master' Pending"></app-order-request-status-card>
            <app-order-request-status-card [values]="sumOfPendingRequest" class="bg-[#efeff8]" text="No. of Request Pending"></app-order-request-status-card>
            <app-order-request-status-card [values]="sumofApprovedRequest" class="bg-[#63f4ad]" text="No. of Requests Approved"></app-order-request-status-card>
            <app-order-request-status-card [values]="sumofRejectedRequest" class="bg-[#ff9d9d]" text="No. of Request Rejected"></app-order-request-status-card>
          </div>
        </div>
      </div>
      
</div>